@import url("./nav.css");
@import url("./facebookFeed.css");
@import url("./carousel.css");

html,
body {
  height: 100%;
  width: 100%;
}

.appContainer {
  padding: 0 15px;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 200px 1fr;
}
